
<nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
  <a th:href="@{/index}" class="navbar-brand d-block d-lg-none">
    <h1 class="m-0 text-primary text-uppercase">Room Master</h1>
  </a>
  <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
    <div class="navbar-nav mr-auto py-0">
      <a th:href="@{/index}" class="nav-item nav-link active">Trang chủ</a>
      <a th:href="@{/about}" class="nav-item nav-link">Về chúng tôi</a>
      <a th:href="@{service}" class="nav-item nav-link">Dịch vụ</a>
      <a th:href="@{room}" class="nav-item nav-link">Phòng</a>
      <a th:href="@{/booking}" class="nav-item nav-link">Đặt phòng</a>
      <a th:href="@{/contact}" class="nav-item nav-link">Liên hệ</a>
    </div>
  </div>
</nav>
